<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
		<script type="text/javascript" src="https://e.ccsyue.com/tool/msg/js/SHA1.js"></script>
		<style>
			textarea {
				width: 100%;
				word-break: break-all; //解决兼容问题
				font-family: "Lucida Console"
			}
		</style>
	</head>
	<body>
		<div id="editor">
			<input v-model="AppId" placeholder="AppId" />
			<input v-model="AppKey" placeholder="AppKey" />
			<input v-model="clazz" placeholder="clazz" />
			<input v-model.number="_threadNum" placeholder="threadNum" />
			<input v-model.number="_maxErrorNum" placeholder="maxErrorNum" />
			<textarea rows="10" v-model="jsonStr" @paste="solveIt" placeholder="pasteJson"></textarea>
			<div v-for="(item, index) in percents" :width="item+'%'" style="background:#EC5D14" :key="index" >{{item+'%'}}</div>
		</div>

	</body>
	<script>
		function getAppKey() {
			var now = Date.now();
			var appKeyString = SHA1(vm.AppId + "UZ" + vm.AppKey + "UZ" + now) + "." + now;
			return {
				"X-APICloud-AppId": vm.AppId,
				"X-APICloud-AppKey": appKeyString
			}
		}
		var data={
				jsonStr: '',
				percents: [],
				AppId: "A6054809905051",
				AppKey: "F3CF370F-7899-A546-2085-011623A74CE7",
				clazz: "books",
				threadNum: "1",
				maxErrorNum:"1",
				curentErrorNum:0
			}
		var vm = new Vue({
			el: '#editor',
			data: data,
			computed: {
				_threadNum: {
					set: function(value) {
						this.threadNum = value;
					},
					get: function() {
						return this.threadNum.replace(/[^0-9]+/g, '')
					}
				},
			_maxErrorNum: {
					set: function(value) {
						this.maxErrorNum = value;
					},
					get: function() {
						return this.maxErrorNum.replace(/[^0-9]+/g, '')
					}
				}
			},
			methods: {
				solveIt: function(event) {
					vm.percents.splice(0,vm.percents.length)
					_.forEach(data, function(value, key) {
					  if(typeof(value)=='String' && _.trim(value).length<10) return
					  if(typeof(value)=='Number' && value<0) return
					});
					var clipboard = event.clipboardData;
					var data = clipboard.getData('text/plain').replace(/\r/g, '\n');
					var arr = JSON.parse(data)
					requests = []
					_.forEach(arr, function(value, index, collection) { //这里规定的就是第一个参数返回的是value值，第二个参数是下标index
						requests.push({
							"method": "POST",
							"path": "/mcm/api/" + vm.clazz+"/465c70b10abc2a2e606ba7271a/bookId",
							"body": value
						})
					});
					if(requests.length>1000*vm.threadNum) vm.threadNum=parseInt(requests.length/1000)>5?5:parseInt(requests.length/1000) 
					
					chunks = _.chunk(requests, parseInt(requests.length/vm.threadNum)); //每一份requests.length/threadNum个
					_.forEach(chunks, function(value, index, collection) {
						childChunks = _.chunk(value, 1000)
						vm.percents.push(0)
						process(childChunks, 0,function(i){
							vm.percents.splice(index,1, parseInt(i * 100 / childChunks.length))
						});
					})
				}
			}
		})
		//处理chunks，无限递归
		function process(chunks, index,successCallback) {
			//找到需要被处理的chunk
			var chunk = chunks[index];
			//判断chunk是否为undefined
			if (_.isUndefined(chunk)) {
				return;
			}
			axios.post("https://d.apicloud.com/mcm/api/batch", {
					"requests": chunk
				}, {
					"cache": false,
					"headers": getAppKey(),
				}).then(function(response) {
					++index
					successCallback(index)
					_.defer(_.partial(process, chunks, index));
				})
				.catch(function(error) {
					console.log("insert error:" + error)
					if(vm.curentErrorNum>= vm.maxErrorNum) return
					_.defer(_.partial(process, chunks, index));
					vm.curentErrorNum++
					
				})

		}
	</script>
</html>
